
* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    

}
body{
    background-color: #116466;
    
}
.outer-class{
    position: static;
}
h1{
    text-align: center;
    color: rgb(248, 233, 233);
    font-family: lato;
    font-size: 400%;
    font-style: italic;
    font-weight: 700;
    padding: 7px;
    
}
.header p{
    color: rgb(229, 235, 228);
    font-size: 200%;
}
h2{
    text-align: center;
    font-family: lato;
    font-size: 300%;
    font-style: italic;
    font-weight: 700;
    margin-top: 150px;
}

#reading-time {
    text-align: center;
    font-family: lato;
    font-size: 150%;
    font-style: italic;
    font-weight: 700;
    color: rgb(229, 235, 228);
}
.header {
    text-align: center;
    
    /*padding: 150px;
    background-image: url("white-back.jpg");*/
    
    
}
.mb-3 {
    margin-bottom: 16px !important;
}

.circle {
    border-radius: 50% !important;
    position: absolute;
    left: 2%;/* left: 44.4608%; */
    top: 2%;
}

.crop-image{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/simple-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.crop-image img{
    
    width: 100%;
    height: 140%;
    margin: 0 0 0 0px;
    z-index: 0;
}

.header-text{
    
    position:absolute;
    top:40%;
         
}
.header-text > h1{
    color: rgb(36, 241, 0);
    /* background-color: rgb(0, 0, 0); */
    
}

.header-text > p{
    color: rgb(255, 255, 255);
    /* background-color: rgb(0, 0, 0); */
    font-size: 110%;
    padding-right: 20%;
    padding-left: 20%;
}

.navbar-default {

    background-color: #2c3531;
    border-color: #2c3531;

}
.navbar-collapse{
    background-color: #2c3531;/*rgb(105, 116, 111)*/
    overflow:hidden;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: #ffcb9a;
    border-color: royalblue;
    
    
}
.navbar-default .navbar-nav > li > a {
    color: #d1e8e2;
}   
/* div.navbar {
    position: -webkit-sticky;
    /* position: sticky; 
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
  } */


li{
    padding: 0px;
    text-align: center;
    color: #d1e8e2;
}



#collapse-nav{
    float: right;
    
}



li:hover{
    opacity: 0.7;
    background-color:#d1e8e2;
    font-size: 120%;
}


li:active{
    opacity: 0.5;
    color: rgb(31, 27, 255);
    background-color:#d1e8e2;
    font-size: 100%;
}
.active{
    opacity: 1.0;
    background:rgb(236, 12, 12);
    font-size: 120%;
}

a{
    color: rgb(36, 241, 0);

}
a:focus,a:hover{
    color: rgb(153, 21, 21);
}


.left{
    padding-top: 50px;
    float: left;
    width: 20%;
    word-wrap: break-word;
    
}
.container-fluid{
    /* position: static; */
    background-image: url("images/backNew.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-color:#116466; */
    margin-top: -20px;
    padding: 20px;
    
}

.scroll-snap{
    scroll-snap-align: start;
}

.row{
    position: static;
    margin-bottom: 300px;
    height: 100vh;
    
    
}



.row-projects{
    background-image: url("images/project-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content{
    
    padding-top: 30px;
    float: inline-start ;
    width:80%;
    text-align: justify;
    height: 100%;
    
}

footer {
    /*position: sticky;*/
    text-align: center;
    bottom: 0;
    background-color: rgb(224, 19, 19);
              
} 



.list-items{
    display: block;
    float: right;
    margin: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0px;
    height: 250px;
    width: 312.5px;
    text-align: center;
    width: 30%;
    min-width: 290px;
    max-width: 320px;
    /*padding-top: 30%;*/
    background-color: rgb(149, 211, 144);
    position: relative;
    overflow: hidden;
    
}
.list-items > a > img{
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5 ease;
      -moz-transition: all 0.5 ease;
      -ms-transition: all 0.5 ease;
    transition: all 0.5s ease;
}
.list-items > a >img:hover{
    width: 110%;
    height: 110%;
    border-top: 5px solid #116466 ;
    border-left: 5px solid #116466 ;
}

.list-items >img:active{
    width: 120%;
    height: 120%;
    
}

.list-items .over-image {
    position: absolute;
    bottom: 0;
    background: rgb(25, 25, 24); 
    background: rgba(25, 25, 24, 0.5); 
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    font-size: 160%;
    font-family: lato;
  }



 .description{
    /* font-size: 0.2em; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(229, 235, 228);
    /* padding: 40px;
    padding-left: 20%;
    padding-right: 20%; */
    text-align: justify;
    
    
}


/* for the blog posts*/

.blog-content > p{
    padding: 10px 15% 10px 15%;
    font-family: lato;
    color: rgb(255, 255, 255);
    font-size: 190%;
    text-align: unset;
}

.blog-heading{
    padding: 10px 20% 10px 20%;
}
/*****************/

/******for about page*****/
.col-sm-3 > h2{
    color: rgb(105, 167, 89);
}

h3{
    color: gray;
    /* text-align: center; */
}




/*media queries*/


@media  (min-width:1146px) {
    .sub-heading{
        width: 10%;
    }
    .sub-heading > h2{
        font-size: 200%;
    }
    .head-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .list-items{
        margin-left: 1vw;
        margin-right: 1vw;
       
    }
     
}

@media (max-width:1145px) and (min-width:930px){
    .sub-heading{
        width: 100%;
    }
    
    .list-items{
        
        margin: 10px 5px 0px 5px;
        
    }

    .head-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
     
}

@media (max-width:929px) {
    .sub-heading{
        width: 100%;
    }
    
    
    .head-list{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

    }
    .list-items{
        
        display: inline;
        /* max-width: 200px;
        max-height: 200px; */
    }

    .row{
        height: 150vh;
    }
    

    /* .list-img{
        max-width: 80%;
        max-height: 200px;
    } */
     
}

.page-footer{
    margin-top: 30px;
    padding: 20px;
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c3531;
}

.page-footer *{
    color: rgb(229, 235, 228);
}



/* stick to top */
.stickToTop {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
}
/* form text */
input {
    color: black !important;
}

/* for contact tab */

/* .complete{
    margin-top: 30px;
    padding: 20px;
    
    bottom: 0;
    left: 0;
    width: 100%;
    height: cover;
    background-color: #2c3531;
} */

/* for table  in contact tab*/
table{
    table-layout: fixed;
    column-width: 50%;
    
}
td{
    text-align: center;
}
td:first-child { 
    text-align: center; 
}
div.col{
    margin-top: 40px;
}